/* images */

.bg-shading {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-afterschool {
    background-image: url("/images/Programs/bg-afterschool.jpg");
}

.bg-summer-program {
    background-image: url("/images/Programs/bg-summer-program.jpg");
}

.bg-math-prep {
    background-image: url("/images/Programs/bg-math-prep.jpg");
}

.bg-private-tutoring {
    background-image: url("/images/Programs/bg-private-tutoring.jpg");
}

@media screen and (min-width: 1140px) {
.lg-nav-mt-0 {
    margin-top: 0;
}

}