@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-muted: var(--muted);
    --color-muted-dark: var(--muted-dark);
    --color-dark-blue: var(--dark-blue);
    --color-dark-green: var(--dark-green);
    --color-light-green: var(--light-green);
    --color-light-yellow: var(--light-yellow);
    --color-light-blue: var(--light-blue);
    --breakpoint-3xl: 120rem;
}

@layer base {
    body {
        @apply bg-background;
    }

    h1 {
        @apply text-5xl font-semibold;
    }

    h2 {
        @apply text-4xl font-semibold;
    }

    h3 {
        @apply text-3xl font-medium;
    }

    p {
        @apply text-base font-normal;
    }
}

@layer components {
    button {
        cursor: pointer;
        border: solid white 2px;
        border-radius: 4rem;
    }

    .green-gradient {
        background-image: linear-gradient(to right, #8EC58D, #6BB96A);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

@utility container {
    @apply max-w-(--container-max-w) px-8;

    @variant lg {
        @apply max-w-(--container-lg-max-w) px-12;
    }

    @variant 3xl {
        @apply max-w-(--container-3xl-max-w);
    }
}

:root {
    --background: oklch(99.47% 0.005 78.30);
    --primary: oklch(0 0 0);
    --secondary: oklch(1 0 0);
    --muted: oklch(82.66% 0.000 0);
    --muted-dark: #525252;
    --dark-blue: #284D77;
    --dark-green: #40733F;
    --light-green: oklch(0.8409 0.1104 144.15);
    --light-yellow: #EBD39C;
    --light-blue: oklch(0.8663 0.052 252);

    --green-gradient: linear-gradient(#)


    --container-max-w: 800px;
    --container-lg-max-w: 1200px;
    --container-3xl-max-w: 1300px;
}