.form-field {
    font-family: Outfit;
    font-weight: 300;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    border: solid;
    border-width: 0.08rem;
    border-color: #CECECE;
    background-color: #F2F1F1;
}

.bean-sprout {
    position: absolute;
    top:-10%;
    right: 10%;
    z-index:0;
}

.contact-icon {
    width: 40px;
}