.footer {
    bottom: 0;
    background: #F7FBFF;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.footer-logo-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#footer-logo {
    height: 3rem;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    right: 0;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 2rem;
}

.footer-text-top-margin {
    margin-top: 0.6rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem;
    }
    .footer-logo-icons-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: fit-content;
        gap: 2rem;
    }

    .footer-logo-icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: fit-content;
        gap: 2rem;
    }

    .footer-icons {
        display: flex;
        flex-direction: flex-start;
        width: 100%;
    }

    .footer-programs {
        display: flex;
        gap: 5rem;
    }

    .footer-text {
        margin-top: 0;
        gap: 1rem;
    }

    .footer-text-top-margin {
        margin-top: 0rem;
    }
}