.mobile-only {
    display: flex;
}

.desktop-only {
    display: none;
}

.sticky-header {
    position: sticky;
}

.header-h {
    height: 96px;
}

.px {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    object-fit: contain;
    width: 150px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1140px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: flex;
    }

    .px {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mr-1 {
        margin-right: 4rem;
    }

    .max-width {
        max-width: 1140px;
    }

    .header-logo {
        width: 130px;
        object-fit: contain;
    }
}