.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-h {
    height: 96px;
}

.px {
    padding-left: 3rem;
    padding-right: 3rem;
}

.header-logo {
    object-fit: contain;
    width: 150px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1140px) {

    .px {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mr-1 {
        margin-right: 4rem;
    }

    .max-width {
        max-width: 1140px;
    }

    .header-logo {
        width: 130px;
        object-fit: contain;
    }
}