.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #FFFDFA;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    padding: 2rem;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 4rem;
}

.mobile-menu li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.close-btn {
    position: absolute;
    top: 1.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-h {
    height: 96px;
}

.px {
    padding-left: 3rem;
    padding-right: 3rem;
}

.header-logo {
    object-fit: contain;
    width: 150px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1140px) {

    .px {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mr-1 {
        margin-right: 4rem;
    }

    .max-width {
        max-width: 1140px;
    }

    .header-logo {
        width: 130px;
        object-fit: contain;
    }
}