:root {
  background-color: #FFFDFA;
  --text-xs: 0.75rem; /* 16 */
  --text-s: 1rem; /* 20 */
  --text-base: 1.25rem; /* 24 */
  --text-med: 1.75rem; /* 32 */
  --text-lg: 2rem; /* 36 */
  --text-xlg: 2.75rem; /* 48 */
  --text-xxlg: 3.25rem; /* 64 */
}

body {
  font-family: 'Outfit'
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 2rem;
  border: none;
  font-family: 'Outfit';
  width: max-content;
  padding: 0.7rem 0.9rem;
  font-size: var(--text-xs);
}

.white-btn {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
  color: white;
  background-color: transparent;
}

.center-text {
  text-align: center;
  align-items: center;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.blue-text {
  color: #1E4168;
}

.light-blue-text {
  color: #3D6CA2;
}

.green-text {
  color: #52853C;
}

/* Font Styling */

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: var(--text-lg);
}

h2 {
  font-weight: 600;
  font-size: var(--text-base);
}

h3, h4 {
  font-size: var(--text-s);
  font-weight: 500;
}

h5, p, .p {
  font-size: var(--text-sx);
  font-weight: 400;
}

.light-text {
  font-weight: 300;
}

.semibold-text {
  font-weight: 600;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  h1 {
    font-size: var(--text-lg);
  }

  h2 {
    font-size: var(--text-med);
  }

  h3 {
    font-size: var(--text-base);
  }

  h4 {
    font-size: var(--text-base);
  }

  h5 {
    font-size: var(--text-s);
  }

  p, .p {
    font-size: var(--text-xs);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  h1 {
    font-size: var(--text-xlg);
  }

  h2 {
    font-size: var(--text-lg);
  }

  h3 {
    font-size: var(--text-med);
  }

  h4 {
    font-size: var(--text-base);
  }

  h5 {
    font-size: var(--text-s);
  }

  p, .p {
    font-size: var(--text-s);
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: var(--text-xxlg);
  }

  h2 {
    font-size: var(--text-xlg);
  }

  h3 {
    font-size: var(--text-lg);
  }

  h4 {
    font-size: var(--text-med);
  }

  h5 {
    font-size: var(--text-base);
  }

  p, .p {
    font-size: var(--text-s);
  }
}